@elabcom rc file Version 1.0
[oh]
invokeDir = /home/ICer/ic_prjs/uvm/ch5/section5.3/5.3.2
hostCommand = -lib /home/ICer/ic_prjs/uvm/ch5/section5.3/5.3.2/simv.daidir/work -saveLevel -elab /home/ICer/ic_prjs/uvm/ch5/section5.3/5.3.2/simv.daidir/kdb -simflow -simdir /home/ICer/ic_prjs/uvm/ch5/section5.3/5.3.2/simv.daidir/kdb_libs -top "uvm_custom_install_record\
ing uvm_custom_install_verdi_recording top_tb" -Lf work +disable_message+C00380+C00381 +disable_message+C00388+C00389 -SNPS_ELABCOM -saveElab
simType = VCS
